.image-sizing {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/.6;
}

.card-title {
    font-size: 1rem;
    // font-size: 1rem !important;
}

.time-ago {
    font-size: .85rem;
}

// .link-style {
//     text-decoration: none;
// }